audit=true
audit-level=high
resolve-peers-from-workspace-root=true
strict-peer-dependencies=true
public-hoist-pattern[]=*
auto-install-peers=true
save-exact=true
shamefully-hoist=false
ignore-scripts=false
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=lmdb
onlyBuiltDependencies[]=msgpackr-extract
only-built-dependencies="['@parcel/watcher','esbuild','lmdb','msgpackr-extract']"
